# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
pip-wheel-metadata/

# Virtual environments
.venv/
env/
venv/

# IDEs and editors
.vscode/
.idea/

# Logs and databases
*.log
*.sqlite3

# macOS
.DS_Store

# Python tooling
coverage.xml
".pytest_cache"/

